.navbar-dark .navbar-nav {
  .nav-link {
    color: rgba(255,255,255,.8);

    &:hover {
      color: #fff;
    }
  }
}

.custom-photos {
  width: 100%;
  margin: 8px 0;
}

.custom-photos__text {
  text-align: center;
}
